# Exclude everything
**
**/node_modules
**/dist
**/build
**/coverage
**/.next

# Include necessary files and directories for api Dockerfile
!apps/api/Dockerfile
!apps/api/src/
!apps/api/entrypoint.sh
!apps/api/package*.json
!apps/api/project.json
!apps/api/tsconfig*
!apps/api/webpack.config.js

# Include necessary files and directories for web Dockerfile
!apps/web/Dockerfile
!apps/web/entrypoint.sh
!apps/web/package*.json
!apps/web/project.json
!apps/web/public/
!apps/web/src/
!apps/web/types/
!apps/web/next.config.js
!apps/web/tsconfig*
!apps/web/webpack.config.js

# Include configuration files
!.env
!.prettierrc
!eslint*
!package*.json
!tsconfig.json
!tsconfig.base.json
!nx.json
