# Exclude everything
**
**/node_modules
**/dist
**/build
**/coverage
**/.next

# Include necessary files and directories for bizlaw Dockerfile
!apps/bizlaw/drizzle/
!apps/bizlaw/public/
!apps/bizlaw/src/
!apps/bizlaw/entrypoint.sh
!apps/bizlaw/next.config.js
!apps/bizlaw/package*.json
!apps/bizlaw/project.json
!apps/bizlaw/tsconfig*
!apps/bizlaw/webpack.config.js

# Include configuration files
!.env
!.prettierrc
!drizzle/
!eslint*
!package*.json
!tsconfig.json
!tsconfig.base.json
!nx.json
